@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root{
    width:100%;
    min-height:100%;
    margin:0;
    padding:0;
}

body{
    background:#ffffff;
}

html.dark body{
    background:#030712;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

button,
input,
select {
  max-width: 100%;
}
